.container {
    max-width: 1200px;
    font-size: 1.5em;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px; 
}

.edit-recipe-section {
    background-color: #fbfaf9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px; 
    width: 90%;
}
.ingredient-section,
.keywords-section,
.images-section  {
    background-color: #fbfaf9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px; 
    width: 96%;

}

.edit-recipe-section input[name="name"]{
    width: 50%;
    padding: 12px;
    font-size:0.8em;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.edit-recipe-section textarea[name="instructions"] {
    width: 100%;
    height: 20em;
    padding: 12px;
    font-size: 0.8em;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.edit-recipe-section p {
    margin: 10px 0;
}

.edit-button,
.reset-button,
.save-button,
.remove-button {
    background-color: #172554;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px; 
}

.edit-button:hover,
.reset-button:hover,
.save-button:hover,
.remove-button:hover {
    background-color: #1d4ed8; 
}


.ingredient-section label {
    display: block;
    font-size: 1em;
    margin-bottom: 5px; /* Pieni marginaali labelien välillä */
  }
  
  .ingredient-section input[type="text"],
  .ingredient-section input[type="number"],
  .ingredient-section input[type="checkbox"],
  .ingredient-section input[type="radio"],
  .ingredient-section select,
  .ingredient-section textarea {
    width: 30%; 
    padding: 8px; 
    font-size: 0.8em;
    margin-bottom: 5px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .ingredient-section button {
    background-color: #172554;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .ingredient-section button:hover {
    background-color: #1d4ed8;
  }
  