
.profile-container {
    max-width: 1200px;
    font-size: 1.5em;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px; 
  }
  
  .profile-section {
    background-color: #fbfaf9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px; 
  }
  
  .profile-section p {
    margin: 10px 0;
  }
  
  .edit-button,
  .save-button,
  .delete-button,
  .cancel-button {
    background-color: #172554;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px; 
  }
  
  .save-button:hover,
  .cancel-button:hover,
  .delete-button:hover,
  .edit-button:hover {
    background-color: #1d4ed8; 
  }
  
  .view-select {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center; 
  }
  
  .view-select label {
    margin-right: 10px;
  }

  .view-select select {
    padding: 8px;
    border: 1px solid darkgrey;
    border-radius: 5px;
  }
  
  .recipe-list {
    font-size: 70%;
    list-style-type: none;
    background-color: #fbfaf9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px; 
  }
  
  .recipe-list li {
    margin-bottom: 10px;
    transition: background-color 0.3s ease; 
  }
  
  .reviews-list {
    font-size: 120%;
    list-style-type: none;
    background-color: #fbfaf9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  .reviews-list li {
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
  }
  
  .reviews-list p {
    margin: 0;
  }
  
  .reviews-list button {
    background-color: #172554;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
  }
  
  .reviews-list button:hover {
    background-color: #1d4ed8;
  }
  .star-icon {
    color: gold; 
  }


  .admin-section {
    background-color: #fbfaf9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 40%;
  }
  
  .admin-section h2 {
    margin-bottom: 10px;
  }
  
  .admin-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .admin-user span {
    flex-grow: 1;
  }
  
  .admin-user input {
    margin-right: 10px;
  }
  
  .admin-user button {
    background-color: #172554;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .admin-user button:hover {
    background-color: #1d4ed8;
  }
  
  .save-button-admin {
    background-color: #172554;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .save-button-admin:hover {
    background-color: #1d4ed8;
  }

  .add-recipe-button {
    background-color: #172554;
    color: #fff;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.7em;
    text-decoration: none;
  }
  
  .add-recipe-button:hover {
    background-color: #1d4ed8;
  }


  .edit-form {
    background-color: #fbfaf9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  .edit-form h2 {
    margin-bottom: 10px;
  }
  
  .edit-form label {
    display: block;
    margin-bottom: 10px;
  }

  .edit-form textarea {
    width: 80%; 
    height: 80px;
    padding: 10px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    margin-bottom: 10px;
    resize: vertical; 
  }
