.profile-recipe-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 1200px; /* Adjust the max width as per your design */
  }
  
  .profile-recipe-item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: calc(33.33% - 20px); /* Adjust width based on the number of cards per row */
  }
  
  .profile-recipe-image {
    width: 100%;
    border-radius: 8px;
  }
  
  .profile-recipe-details {
    padding-top: 10px;
  }
  
  .profile-recipe-name {
    font-size: 18px;
    margin-bottom: 5px;
  }
  

  
  .profile-recipe-rating {
    background-color: #fbfaf9;
    color: #333;
    padding: 2px 10px;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
  }

  .delete-button,
  .edit-button {
    background-color: #172554;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px; 
    text-decoration: none;
    font-size: 0.8em;
  }

  .delete-button:hover,
  .edit-button:hover {
    background-color: #1d4ed8; 
  }

  