.recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Säädä leveyttä tarpeen mukaan */
  grid-gap: 20px;
  
}

.recipe-grid-item {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
}

.recipe-grid-image {
  width: 100%; /* Varmista, että kuva täyttää koko kontainerin */
  border-radius: 8px;
  box-sizing: border-box;
}
.recipe-grid-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.recipe-grid-details {
  padding-top: 10px;
}

.recipe-grid-name {
  font-size: 18px;
  margin-bottom: 5px;
}

.recipe-grid-instructions {
  margin-bottom: 10px;
}

.recipe-grid-rating {
  background-color: #fbfaf9;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block;
  width: fit-content;
}
